<?xml version="1.0"?>
<configuration>
	<system.web>
		<compilation debug="true" targetFramework="4.0"/>
	</system.web>
  <appSettings>
    <add   key="induseduconnectionstring"   value="Password= Manoj@110697; Persist security Info=True; User ID= industest9;Initial Catalog=industest9;Data Source= industest9.db.13112599.hostedresource.com"/>
  </appSettings>
  </configuration>
